{% set carouselId = carouselParams.id if carouselParams.id else null  %}
{% set carouselSlidesList = carouselParams.slidesList if carouselParams.slidesList else [] %}
{% set carouselLabel = carouselParams.label if carouselParams.label else '' %}



{% if carouselSlidesList|length %}
    <div id="{{ carouselId }}" class="splide" aria-label="{{ carouselLabel }}">
        <div class="splide__track">
            <ul class="splide__list">
                {% for slideImage in carouselSlidesList %}
                    <li class="splide__slide">
                        <div class="flex flex-col justify-center items-center h-[80vh]">
                            <figure class="max-w-3/4">
                                <img class="w-full" src="{{ slideImage.url }}" alt="{{ slideImage.alt }}">
                            </figure>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

    {% include 'partials/carouselControls.njk' %}
    </div>
{% endif %}
