{# components/image #}



{# Params #}
{% set imageAsset = imageParams.image if imageParams.image else '' %}
{% set imageCaption = imageParams.caption if imageParams.caption else '' %}
{% set imageAltText = imageParams.altText if imageParams.altText else '' %}
{% set imagePreset = imageParams.preset if imageParams.preset else 'default' %}
{% set imageClass = imageParams.class if imageParams.class else '' %}
{% set imageFigureClass = imageParams.figureClass if imageParams.figureClass else '' %}
{% set imageCaptionClass = imageParams.captionClass if imageParams.captionClass else '' %}
{% set imageHasImgOnly = imageParams.imgOnly if (imageParams.imgOnly != null) else false %}
{% set imageIsBackground = imageParams.background if (imageParams.background != null) else false %}
{% set imageIsLazyLoaded = imageParams.lazy if (imageParams.lazy != null) else true %}



{# Ensure that widths are added in increasing order #}
{% set imageConfig = {
    'default': {
        formats: ['jpeg'],
        widths: [1500]
    },
    'carousel': {
        formats: ['jpeg'],
        widths: [600, 800, 1200, 1800, 2100, 2400],
        defaultWidthPosition: 2,
        sizes: '(min-width: 1280px) 50vw, 83vw'
    }
} %}
{% set imageConfigPreset = imageConfig[imagePreset] %}
{% set imageTransformList = imageAsset|imageTransform(imageConfigPreset) %}
{% set imageDefaultFormat = imageConfigPreset.formats|first %}
{% set imageSizes = imageConfigPreset.sizes if imageConfigPreset.sizes else null  %}
{% set imageDefaultIndex = (imageConfigPreset.defaultWidthPosition - 1) if imageConfigPreset.defaultWidthPosition else 1 %}

{% if imageTransformList %}
    {% set imageDefaultTransform = imageTransformList[imageDefaultFormat][imageDefaultIndex] %}
    {% set imageTransformSrcset = imageTransformList|imageTxToSrcset %}
{% endif %}



{# Output #}
{% if imageTransformList %}
    {% if imageIsBackground %}
        <div class="{{ imageClass }}" style="background-image: url('..{{ imageDefaultTransform.url }}')"></div>
    {% else %}
        {% if imageHasImgOnly %}
            <img
                class="{{ imageClass }}"
                src="{{ imageDefaultTransform.url }}"
                alt="{{ imageAltText }}"
            >
        {% else %}
            <figure class="{{ imageFigureClass }}">
                <img
                    class="{{ imageClass }} {{ 'lazyload' if imageIsLazyLoaded else '' }}"
                    src="{{ imageDefaultTransform.url }}"
                    alt="{{ imageAltText }}"
                    {% if imageSizes %}
                        sizes="{{ imageSizes }}"
                    {% endif %}
                    {% if imageIsLazyLoaded %}
                        data-src="{{ imageDefaultTransform.url }}"
                        data-srcset="{{ imageTransformSrcset }}"
                    {% else %}
                        srcset="{{ imageTransformSrcset }}"
                    {% endif %}
                >
                {% if imageCaption %}
                    <figcaption class="{{ imageCaptionClass }}">
                        {{ imageCaption }}
                    </figcaption>
                {% endif %}
            </figure>
        {% endif %}
    {% endif %}
{% endif %}
