<!DOCTYPE html>
<html lang="en">
    <head>
        {% block pageHead %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>
                {{ title }}
            </title>

            {# Fonts and stylesheets #}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/assets/css/styles.css">
        {% endblock %}
    </head>



    <body>
        {% set headerNavUrl = headerNav.url if headerNav.url else '/info' %}
        {% set headerNavLabel = headerNav.label if headerNav.label else 'Info' %}

        {% block pageHeader %}
            <header class="mt-6 px-gutter">
                <nav class="flex justify-between">
                    <a href="/" class="block">
                        <h1 class="text-base">
                            Lucia Bell-Epstein
                        </h1>
                    </a>
                    <a href="{{ headerNavUrl }}" class="block">
                        {{ headerNavLabel }}
                    </a>
                </nav>
            </header>
        {% endblock %}



        {% block pageMain %}
            <main>
                {% block main %}{% endblock %}
            </main>
        {% endblock %}



        {% block pageFooter %}{% endblock %}
        {% block pageBodyEnd %}{% endblock %}
    </body>
</html>
