<!DOCTYPE html>
<html lang="en">
    <head>
        {% block pageHead %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>
                {{ title }}
            </title>

            {# Favicons #}
            <link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48" />
            <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
            <link rel="shortcut icon" href="/favicon.ico" />
            <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
            <meta name="apple-mobile-web-app-title" content="Lucia Bell-Epstein" />
            <link rel="manifest" href="/site.webmanifest" />

            {# Fonts and stylesheets #}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/assets/css/styles.css">

            {# Urgent JS #}
            <script src="/assets/js/libs/lazysizes.min.js"></script>
            <script src="/assets/js/urgent.js"></script>
        {% endblock %}
    </head>



    <body>
        {% block pageHeader %}{% endblock %}



        {% block pageMain %}
            <main class="px-5">
                {% block main %}{% endblock %}
            </main>
        {% endblock %}



        {% block pageFooter %}{% endblock %}



        {% block pageBodyEnd %}
            <script src="/assets/js/libs/splide.min.js"></script>
            <script src="/assets/js/normal.js"></script>
            <script data-goatcounter="https://lbe.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
        {% endblock %}
    </body>
</html>
