<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}{% endblock %}
    </head>



    <body>
        {% block main %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block bodyEnd %}{% endblock %}
    </body>
</html>
