@layer utilities {
    /* Todo: Remove unused height utilities */
    .h-100vh {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }
    .h-80vh {
        height: 80vh;
        height: calc(var(--vh, 1vh) * 80);
    }
    .h-70vh {
        height: 70vh;
        height: calc(var(--vh, 1vh) * 70);
    }
    .h-75vh {
        height: 75vh;
        height: calc(var(--vh, 1vh) * 75);
    }
}
