{% extends 'layouts/base.njk' %}



{% block pageHeader %}
    <div class="absolute w-full top-0 z-20 flex justify-between mt-7 mb-10 px-5">
        <header class="pr-5">
            <nav class="">
                <a href="/" class="">
                    Lucia Bell-Epstein
                </a>
            </nav>
        </header>
        <nav class="">
            <a href="/info" class="">
                Info
            </a>
        </nav>
    </div>
{% endblock %}



{% block main %}
    <article class="">
        {% set carouselParams = {
            id: 'home-image-carousel',
            slidesList: carousels.homepageImages,
            label: 'Photos by Lucia Bell-Epstein'
        } %}
        {% include 'components/carousel.njk' %}

        {# Carousel scripts #}
        {# Moved to main markup to prevent lag in loading - was leading to a scrollbar for a few seconds #}
        <script src="/assets/js/libs/splide.min.js"></script>
        <script src="/assets/js/normal.js"></script>
    </article>
{% endblock %}
