{% extends 'layouts/base.njk' %}



{% block pageHeader %}
    <div class="flex justify-between mt-7 mb-10 px-gutter">
        <header class="pr-gutter">
            <nav class="">
                <a href="/" class="">
                    Lucia Bell-Epstein
                </a>
            </nav>
        </header>
        <nav class="">
            <a href="/info" class="">
                Info
            </a>
        </nav>
    </div>
{% endblock %}



{% block main %}
    <article>
        {% set carouselParams = {
            id: 'home-image-carousel',
            slidesList: carousels.homepageImages,
            label: 'Photos by Lucia Bell-Epstein'
        } %}
        {% include 'components/carousel.njk' %}
    </article>
{% endblock %}
