{% extends 'layouts/base.njk' %}



{% block main %}
    <article class="px-gutter">
        <div class="flex gap-gutter">
            <div class="basis-1/2 flex-none pl-1/6">
                <p class="mb-8 last:mb-0">
                    (b. 1998)
                    <br />
                    Lucia Bell-Epstein is a photographer and director based in New York City + Paris.
                </p>
                <p class="mb-8 last:mb-0">
                    Select clients include:
                    <br />
                    Cultured Magazine, Natoora, J.Crew, Nike, Tekla, Le Cheval d’Or, HommeGirls, Colbo, Harper’s Bazaar Japan, Neptune Papers, Milk Magazine, Canyon Coffee, Rose Los Angeles, Morgenstern’s Finest Ice Cream, Public Records, Has Dac Biet, Sunfish and Yola Mezcal.
                </p>
            </div>
            <div class="basis-1/2 flex-none pl-1/6">
                <p class="mb-8 last:mb-0">
                    Represented by Laird + Good Company
                    <br />
                    For commercial inquiries please contact
                    leeanne@lairdandgoodcompany.com
                </p>
            </div>
        </div>
    </article>
{% endblock %}
