<div class="splide__arrows">
    <button class="splide__arrow splide__arrow--prev">
        <span class="">
            Prev
        </span>
    </button>
    <button class="splide__arrow splide__arrow--next">
        <span class="">
            Next
        </span>
    </button>
</div>
