<div class="splide__arrows">
    <button class="splide__arrow splide__arrow--prev">
        <div class="icon icon-left-arrow w-6 h-6"></div>
        <span class="sr-only">
            Prev
        </span>
    </button>
    <button class="splide__arrow splide__arrow--next">
        <div class="icon icon-right-arrow w-6 h-6"></div>
        <span class="sr-only">
            Next
        </span>
    </button>
</div>
