{% set carouselSlidesList = carouselSlidesList if carouselSlidesList else [] %}
{% set carouselArrowBtnClass = 'icon w-5 h-2 bg-cover' %}



<div class="splide__arrows">
    <button class="splide__arrow splide__arrow--prev">
        <div class="icon-left-arrow {{ carouselArrowBtnClass }}"></div>
        <span class="sr-only">
            Previous image
        </span>
    </button>
    <div class="leading-none">
        <span id="carousel-slide-index" class="tabular-nums" aria-label="Current slide number">
            01
        </span>
        /
        <span aria-label="Number of total slides">
            {{ carouselSlidesList|length }}
        </span>
    </div>
    <button class="splide__arrow splide__arrow--next">
        <div class="icon-right-arrow {{ carouselArrowBtnClass }}"></div>
        <span class="sr-only">
            Next image
        </span>
    </button>
</div>
